# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = William Daughtridge
email = wdaughtridge@alarm.com
[core]
editor = nvim
[push]
autoSetupRemote = true
