[core]
	editor = nvim
	autocrlf = input

[push]
	autoSetupRemote = true

[include]
	path = ~/.gitconfig-personal

[includeIf "hasconfig:remote.*.url:https://bitbucket**"]
	path = ~/.gitconfig-work

[includeIf "hasconfig:remote.*.url:https://dev.azure.com/**"]
	path = ~/.gitconfig-work
